<div class="container">
  <div class="input-group">
    <select class="form-control" [(ngModel)]="selectedFreeCampaign" required>
      <option *ngFor="let campaign of freeCampaigns" [ngValue]="campaign">ID#{{campaign.id}} {{campaign.name}}
      </option>
    </select>
    <span class="input-group-btn">
      <button (click)="assign(selectedFreeCampaign.id)" class="btn btn-primary">Assign</button>
    </span>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Advertiser</th>
        <th>Status</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Unassign</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let campaign of campaigns">
        <td>{{campaign.id}}</td>
        <td>{{campaign.name}}</td>
        <td>{{campaign.advertiser.name}}</td>
        <td>{{campaign.status}}</td>
        <td>{{campaign.startDate | date:'dd/MM/yyyy'}}</td>
        <td>{{campaign.endDate | date:'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="unassign(campaign.id)">Unassign</button>
        </td>
      </tbody>
    </table>
  </div>
</div>
