<div class="container">
  <a class="btn btn-primary btn-block" href="/users/add" role="button">Add</a>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Campaigns</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
          <ul class="list-unstyled" *ngFor="let role of user.roles">
            <li>{{role.role}}</li>
          </ul>
        </td>
        <td>
          <a class="btn btn-sm btn-primary" href="/users/{{user.id}}">Edit</a>
        </td>
        <td>
          <a class="btn btn-sm btn-info" href="/users/{{user.id}}/campaigns">Campaigns</a>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="delete(user.id)">Delete</button>
        </td>
      </tbody>
    </table>
  </div>
</div>
