<div class="container form-login">
  <h3>Sign in</h3>
  <br>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label>Username
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
               required/>
      </label>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label>Password
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
               required/>
      </label>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <div *ngIf="error">{{error}}</div>
    </div>
  </form>
</div>
