<div class="container">
  <form method="post">
    <div class="form-group">
      <h3>Select validation rules:</h3>
      <br>
      <select class="form-control" name="rules" multiple="multiple"
              [(ngModel)]="selectedRules" size="10">
        <option *ngFor="let rule of rules" [value]="rule.code">{{rule.description}}</option>
      </select>
      <button (click)="validate(selectedRules)" class="btn btn-primary btn-block" type="submit">Generate</button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Campaign ID</th>
        <th>Campaign name</th>
        <th>Created</th>
        <th>Issues</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.id}}</td>
        <td>{{report.campaignId}}</td>
        <td>{{report.campaignName}}</td>
        <td>{{report.created | date:'dd/MM/yyyy @ HH:mm'}}</td>
        <td>
          <ul *ngFor="let issue of report.issues">
            <li>{{issue.issue}}</li>
          </ul>
        </td>
      </tbody>
    </table>
  </div>
</div>
