<div *ngIf="user" class="container">
  <h2>{{user.username}} details:</h2>
  <br>
  <div><h4>id: {{user.id}}</h4></div>
  <br>
  <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label>Username:
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" placeholder="Username"
                   #username="ngModel" required>
          </label>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label>Email:
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email"
                   #email="ngModel" required>
          </label>
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label>Password:
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password"
                   placeholder="Password"
                   #password="ngModel" required>
          </label>
          <div *ngIf="f.submitted && !lastName.valid" class="help-block">Password is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
          <label>First name:
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName"
                   placeholder="First name"
                   #firstName="ngModel" required>
          </label>
          <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
          <label>Last name:
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" placeholder="Last name"
                   #lastName="ngModel" required>
          </label>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Last name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !patronymic.valid }">
          <label>Patronymic:
            <input type="text" class="form-control" name="patronymic" [(ngModel)]="user.patronymic"
                   placeholder="Patronymic"
                   #patronymic="ngModel">
          </label>
        </div>
      </div>


      <div class="col-md-4">
        <label>Roles:</label>
        <br>
        <div *ngFor="let role of allRoles">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="{{role.role.role}}"
                   [(ngModel)]="role.selected" (change)="selectedRoles()"/>
            <span class="custom-control-indicator"></span>{{role.role.role}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Save</button>
      <div *ngIf="error">{{error}}</div>
    </div>
  </form>
</div>
